/*
Theme Name: NathalieMota
Template: twentytwentyfive
*/

 /* Menu principal */

 .site-header {
    max-width: 1150px;            /* largeur totale du header */
    margin: 0 auto;               /* centre horizontalement */
    display: flex;                /* Place les éléments sur une même ligne */
    justify-content: space-between;/* Logo à gauche — Menu à droite */
    align-items: center;          /* Aligne verticalement */
    padding: 20px;
  
}

.main-menu ul {
    display: flex;           /* Met les <li> sur une ligne */
    list-style: none;        /* Supprime les puces */
    margin: 0;               /* Supprime les marges par défaut */
    padding: 0;              /* Supprime le padding par défaut */
}

.main-menu li {
    margin-right: 20px;      /* Espacement entre les items */
}

.main-menu li:last-child {
    margin-right: 0;         /* Pas de marge après le dernier item */
}

/* Optionnel : liens stylisés */
.main-menu a {
    text-decoration:none; 
    color: #000;    /* Couleur des liens */
    font-size: 16px;   
    text-transform: uppercase;
    font-family: "Space Mono", monospace;

       

}

/* Logo */




/* Hero */
/* HERO en pleine largeur */
.hero {
    width: 100%;
    margin: 0;
    padding: 0;
}

.hero img {
    width: 100%;
    height: auto;
    display: block; /* enlève l’espace blanc sous l’image */
}

body{
    margin: 0;
}

 
/* FOOTER */
.site-footer {
    width: 100%;
    padding: 20px 0;
    background: #ffffff; /* change si ta maquette a une autre couleur */
    color: #000000;
    text-align: center;
}

.site-footer .footer-links {
    display: flex;
    justify-content: center;
    gap: 40px; /* espace entre les liens */
    flex-wrap: wrap;
}

.site-footer a {
    color: #000000;
    text-decoration: none;
    font-size: 16px;
    text-transform: uppercase;
    font-family: "Space Mono", monospace;
}

.site-footer a:hover {
    text-decoration: underline;
}

div.footer-links span{
    text-transform: uppercase;
}
